body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
  background-color: rgb(16, 16, 16) !important;
}

::-webkit-scrollbar {
  background-color: #101010; /* Background of the scrollbar */
  width: 5px;
}
::-webkit-scrollbar:hover {
  width: 10px;
}

/* Optional: Styles for the scrollbar thumb (the draggable element) */
::-webkit-scrollbar-thumb {
  background-color: #5a5a5a; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: roundness of the scrollbar thumb */
}

/* Optional: Styles for the scrollbar thumb when it's hovered */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: #333333; /* Color of the scrollbar thumb on hover */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}
